
.list{
    
}


#first li:first-child {

    text-transform:uppercase;
    
    }

    #first ul li:nth-child(2n) {

    color:#F00;

    }
    #content {
        margin: 1200px 0px 100px 0px ;
     }
  

